:root{
    --primary-color:#f9b233;
    --accent-color:#3a3768;
}


/*Scrollbar CSS Starts Here*/
::-webkit-scrollbar{
    background:#313131;
    width: 5px;
}
::-webkit-scrollbar-thumb{
   background:var(--primary-color); 
}
/*Scrollbar CSS Ends Here*/

/*font link start*/

@font-face {
    font-family:MavenPro-Medium;
    src: url(../fonts/Maven_Pro/MavenPro-Medium.ttf);
}
@font-face {
    font-family:MavenPro-Regular;
    src: url(../fonts/Maven_Pro/MavenPro-Regular.ttf);
}
@font-face {
    font-family:MavenPro-SemiBold;
    src: url(../fonts/Maven_Pro/MavenPro-SemiBold.ttf);
}
@font-face {
    font-family:MavenPro-Bold;
    src: url(../fonts/Maven_Pro/MavenPro-Bold.ttf);
}

/*font link end*/

/*common css start*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

body {
    
}
.services-section-padding,
.portfolio-section-padding{
    padding-top: 30px;
}
.section-padding{
    padding-top: 70px;
    padding-bottom: 40px;
}
.mb-0{
   margin-bottom: 0!important;
}
.another-button,
.main-button{
    font-family:MavenPro-SemiBold;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    outline:none !important;
    color: #fff;
    background-color: var(--primary-color);  
    cursor: pointer;
    overflow: hidden;
    position: relative;
    letter-spacing:1px;
    transition:0.3s; 
}
.another-button{
   background-color: var(--accent-color);
}
.main-button:hover,
.another-button:hover{
    box-shadow: 0px 5px 10px 1px #ccc;
}
h1{
   font-family:MavenPro-Medium;
}
h4,h3{
    font-family:MavenPro-Medium;
}
p{
  font-family:MavenPro-Regular;
}

.page-title h3{
    float: left;
    display: inline-block;
    position: relative;
    font-size: 35px;
    color: #313131;
}
.page-title h3::after{
    content:'';
    position: absolute;
    width: 100%;
    height: 10%;
    background-color:var(--primary-color); 
    left: 0%;
    bottom: -15%;
}
.pt-25{
    padding-top: 25px;
}
strong {
    font-weight: bolder;
}

/*common css end*/

/*Preloader css Starts Here*/
#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url(../images/preloader.gif) no-repeat;
    background-position: center;
    z-index: 9999999;
}
/*Preloader css Ends Here*/

/*Header Starts Here*/
footer,
header{
    background-color:#313131; 
}
/*
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgb(249, 178, 51);
}
*/
.navbar-light .navbar-toggler {
    color:transparent !important;
    border-color: transparent !important;
    padding: 0 !important;
}
.navbar-light .navbar-toggler-icon {
    background-image:url(../images/toggle.png) !important;
    height: 18px;
    width: 30px;
}
.navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
    outline: 0;
}
.logo  h2{
    color: #fff !important;
    font-family:MavenPro-Medium;
}
.logo img{
    width:125px;
    
}
/*
.navbar{
    padding: 1.5rem 1rem !important;
}
*/
.menu ul li a{
    color:#fff !important;
    font-family:MavenPro-Medium;
    font-size: 16px;
    margin-right: 30px;
    transition:0.3s;
    position: relative;
    display: inline-block;
}
.menu ul li a::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 0px;
    bottom:-1px;
    left: 0px;
    background-color:var(--primary-color);
    transition:0.3s;
}
.menu ul li a:hover::after{
    width: 100%;
}

.menu ul li:last-child a{
    margin-right: 0;
}
.nav-link{
    padding: 0 !important;
}
.links ul li a:hover,
.menu ul li a:hover,
.active .nav-link {
    color:var(--primary-color) !important;
}
.active .nav-link {
    position: relative;
    display: inline-block;
}
.active .nav-link::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    bottom:-1px;
    left: 0px;
    background-color:var(--primary-color);
    transition:0.3s;
}
/*Header Ends Here*/

/*Banner Starts Here*/

.banner{
    
}

.banner-img img{
    width: 100%;
}

.banner-content{
   text-align: justify;
   margin-top: 80px;
}

.banner-content h3 {
    padding-bottom: 5px;
    color: #313131;
}

.footer-content h3,
.banner-content h3 span {
    color: var(--primary-color);
}

.banner-content h1 {
    color: #313131;
    font-family:MavenPro-Medium; 
    font-size: 38px;
}
.portfolio-content p,
.banner-content p span,
.banner-content h1 span {
    padding-top: 5px;
    font-family:MavenPro-Bold;
    color: var(--accent-color);
}

.banner-content p{
    margin-top: 30px;
    font-size: 20px;
    
    
}
.banner-content a button{
    margin: 30px 10px 0px 0px;
}
/*Banner Ends Here*/


/*About-Me Starts Here*/
.about{
    margin-bottom: 45px;
}
.about-img{
    float: left;
} 
.about-img img{
    object-fit: cover;
    border-radius:5%;
    height:auto;
    width: 100%;
}
.about-item a{
    color:#444 !important;
    font-family: MavenPro-SemiBold;
    font-size: 18px;
    padding: 10px 20px !important;
    letter-spacing: 1px;
    transition: 0.3s;
    position: relative;
}
.about-item a:hover{
    color: var(--primary-color) !important;
}
.about-item a::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 0px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    transition:0.3s;
}
.about-item a:hover::after{
  width: 100%;  
}

.about-item .nav-link.active{
    background-color: #fff !important;
    position: relative; 
    display: inline-block;
    color: var(--primary-color) !important;
}
.about-item .nav-link.active::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
}
.tab-content{
    position: relative;
}
.tab-content::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #dee2e6;
    top: 0;
    left: 0;
}

.tab-detail a button{
    margin-right: 10px;
}
.close{
    outline: 0 !important;
}
.tab-detail h1{
    color: #313131;
    font-size: 40px;
} 
.modal-title,
.form-control,
label{
    font-family:MavenPro-Medium;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #dee2e6;
}
textarea {
    resize: none;
}
.skill{
    margin-bottom: 25px;
}
.skill h6 {
    font-family: MavenPro-Bold;
    font-size: 20px;
    color: #fba81b;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}
.skill h6::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #313131;
    bottom: -1px;
    left:0;
    
}
.skill-content {
    margin-left: -5px;
}
.skill-content span {
    display: inline-block;
    background-color: #313131;
    color: var(--primary-color);
    padding: 3px 10px;
    border-radius: 2px;
    margin: 5px;
    cursor: default;
    transition: 0.3s;
    font-family:MavenPro-SemiBold;
    font-size: 18px;
}
.skill-content span:hover{
    color: #fff;
}
.tab-connect{
    padding: 30px;
    background-color: #313131;
}

.tab-connect .tab-connect-info {
    margin-bottom: 10px;
}

.tab-connect .tab-connect-info strong {
    color: var(--primary-color);
    font-family:MavenPro-Medium;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
}
.tab-connect .tab-connect-info strong::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    bottom: 0;
    left: 0;
}
.tab-connect .tab-connect-info p {
    color: #fff;
}
.tab-connect .tab-connect-info ul li {
    display: inline-block;
}

.tab-connect .tab-connect-info ul li a {
    text-align: center;
    color: var(--primary-color);
    margin-right: 15px;
    font-size: 16px;
    transition:0.3s;
}
.footer-connect .tab-connect-info ul li {
    display: inline-block;
    margin-top: 10px;
}
.footer-connect .tab-connect-info ul li a {
    text-align: center;
    color: var(--primary-color);
    margin-right: 15px;
    font-size: 16px;
    transition:0.3s;
}

.tab-connect .tab-connect-info ul li a:hover{
    color: #fff;
}

/*About-Me Ends Here*/

/*Contact-Me Starts Here*/
.contact{
    padding-bottom: 150px;
}

.contact-details{
    position: relative;
    z-index: 1;
}

.contact-details .details-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.connect-info {
    padding: 30px;
}

.connect-info .info-item {
    margin-bottom: 30px;
}
.connect-info .info-item strong {
    color: var(--primary-color);
    font-family:MavenPro-Medium;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
}
.connect-info .info-item strong::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color:var(--primary-color);
    bottom: 0;
    left: 0;
}
.connect-info .info-item p {
    color: #333;
}
.connect-info .info-item ul li {
    display: inline-block;
}
.connect-info .info-item ul li a {
    text-align: center;
    color: var(--primary-color);
    margin-right: 15px;
    font-size: 16px;
    transition:0.3s;
}
.connect-info .info-item ul li a:hover{
    color: #fff;
}

.contact-details .details-right {
    
}


form.contact-form input, .contact-section form.contact-form textarea {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 7px 15px;
    font-family:MavenPro-Medium;
}
form.contact-form textarea {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 7px 15px;
    font-family:MavenPro-Medium;
}
.contact-details .details-right .contact-form {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
form.contact-form {
    padding-bottom: 30px;
}

form.contact-form input:focus,  form.contact-form textarea:focus {
    border-color: var(--accent-color);
}
/*Contact-Me Ends Here*/

/*Portfolio Starts Here*/
.portfolio{
    padding-bottom: 50px;
}
.portfolio .portfolio-item{
    height:360px;
    width:220px;
    transition:ease-in-out 3s;
    background-position:top;
    margin-bottom: 20px;
    box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding:5px 0px 15px 0px;
}
.portfolio .portfolio-item:hover{
    background-position: bottom;
}
.portfolio-content{
    border-radius: 5px; 
}
.portfolio-content p a{
    padding-top: 5px;
    font-family:MavenPro-Bold;
    color: var(--accent-color);
    letter-spacing:1px;
    text-decoration: none;
}
.portfolio .portfolio-item.portfolio-image{
    background-image: url(../images/port01.png);
    background-size: cover;
    width: 100%;
}
.portfolio .portfolio-item.portfolio-image02{
    background-image: url(../images/port02.png);
    background-size: cover;
    width: 100%;
}
.portfolio .portfolio-item.portfolio-image03{
    background-image: url(../images/port03.png);
    background-size: cover;
    width: 100%;
}
.portfolio .portfolio-item.portfolio-image04{
    background-image: url(../images/port04.png);
    background-size: cover;
    width: 100%;
}
.portfolio .portfolio-item.portfolio-image05{
    background-image: url(../images/port05.png);
    background-size: cover;
    width: 100%;
}
.portfolio .portfolio-item.portfolio-image06{
    background-image: url(../images/port06.png);
    background-size: cover;
    width: 100%;
}

/*Testimonial Starts Here*/
 .testimonial{
    border-left: 3px solid var(--primary-color);
    padding: 100px 0 100px 275px;
    position: relative;
}
.testimonial:before,
.testimonial:after{
    content: "";
    width: 320px;
    height: 55px;
    border-right: 3px solid var(--primary-color);
    position: absolute;
    left: 0;
}
.testimonial:before{
    border-top: 3px solid var(--primary-color);
    top: 0;
}
.testimonial:after{
    border-bottom: 3px solid var(--primary-color);
    bottom: 0;
}
.testimonial .client{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 100px;
    left: 70px;
}
.testimonial .client img{
    width: 100%;
    height: auto;
}
.testimonial .description{
    font-size: 16px;
    color: #7a7e82;
    line-height: 27px;
    position: relative;
}
.testimonial .description:before{
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: -70px;
    left: 0;
    font-size: 32px;
    color: #b5b5b5;
}
.testimonial .client-title{
    font-size: 22px;
    font-weight:800;
    color: #22272c;
    text-transform: capitalize;
}
.testimonial .post{
    display: block;
    font-size: 15px;
    font-weight: 700;
    color :var(--primary-color);
    margin-top: 10px;
}
.owl-theme .owl-controls{
    text-align: right;
    margin-top: 30px;
}
.owl-theme .owl-controls .owl-buttons div{
    background: var(--primary-color);
    border-radius: 0;
    opacity: 1;
    padding: 5px 10px;
}
.owl-prev:before,
.owl-next:before{
    content: "\f053";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    color: #fff;
}
.owl-next:before{
    content: "\f054";
}
/*Testimonial Ends Here*/


/*Portfolio Ends Here*/

/*Services Starts Here*/
.single-service {
    background-color: #eee;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
	padding: 30px;
	position: relative;
	text-align: center;
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	margin-bottom: 30px;
	z-index: 55;
	overflow: hidden;
}

.service-icon {
	border-radius:50%;
	display: inline-block;
	height: 82px;
	position: relative;
	width: 82px;
	z-index: -2;
	overflow: hidden;
}

.service-icon i {
	color: #929292;
	font-size: 30px;
	line-height: 82px;
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.service-icon i:after {
	background-color: #d8d8d8;
	border-radius: 0px;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	width: 100%;
	z-index: -1;
}

.single-service h4 {
	color: var(--primary-color);
    font-weight: bold;
	font-size: 20px;
	margin-bottom: 15px;
	margin-top: 25px;
}

.single-service:hover .service-icon i:after {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.single-service:hover .service-icon i {
	color:#1d1b1b;
}

.service-hover {
	border-color: #e6e6e6 transparent;
	border-style: solid;
	border-width: 0 0 50px 50px;
	bottom: -50px;
	content: "";
	opacity: 0;
	position: absolute;
	right: -50px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	visibility: visible;
}

.single-service:hover .service-hover {
	bottom: 0;
	opacity: 1;
	right: 0;
	visibility: visible;
}
/*Services Ends Here*/

/*Project-idea Starts Here*/
.project-idea {
    padding: 100px 0px;
    background-color: #eee;
}

.project-idea .promote-content h3 {
    color: var(--primary-color);
    margin-bottom: 35px;
}
.project-idea .promote-content p {
    font-size: 16px;
    width: 300px;
}
.promote-content .main-button {
    margin-top: 25px;
}

.project-idea .content-preview .content-preview-thumb{
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    transform: rotate(7deg);
}
/*Project-idea Ends Here*/

/*Footer Starts Here*/
.footer{
 padding: 45px 0px 30px 0px;   
}
.footer-content h3{
    font-size: 1.25rem;
    position:relative;
    display: inline-block;
}
.footer-content h3::after{
    position: absolute;
    height: 2px;
    width: 100%;
    content: '';
    background-color:rgba(250, 155, 27, 0.53);
    bottom:-5px;
    left: 0px;
}
.footer-content p{
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
    padding-right: 70px;
}
.links ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: MavenPro-Medium;
    margin-top:10px;
    display: inline-block;
    transition:0.3s;
}

.copy-right{
    padding: 20px 0px;
    color:#fff;
    background-color: #1d1b1b;
}
.copy-right p{
    font-size: 14px;
}
.copy-right a{
    text-decoration: none;
    color: var(--primary-color);
    font-family: MavenPro-Medium;
}
/*Footer Ends Here*/


/*Responsive CSS Starts Here*/
@media only screen and (max-width: 991px) and (min-width: 320px) {
    .banner-content {
        margin-top: 0px; 
    }
    .testimonial{
        padding: 350px 0 30px 20px;
    }
    
    .testimonial .client {
    width: 215px;
    height: 215px;
    position: absolute;
    top: 25px;
    left: 35px;
    } 
    
    .testimonial:before, .testimonial:after{
        border-right: 0px;
    }
}



@media only screen and (max-width: 463px) and (min-width: 320px) {
    .banner-content h3 {
        font-size: 20px;
    }
    .banner-content h1{
        font-size: 25px;
    }
   
}


@media only screen and (max-width: 991px) and (min-width: 768px){
   .banner-content h3 {
        font-size: 20px;
    }
    .banner-content h1{
        font-size: 25px;
    }
    
}

@media only screen and (max-width: 344px) and (min-width: 320px){
    .another-button, .main-button{
        font-size: 15px;
    }
    
}


@media only screen and (max-width: 767px) and (min-width: 320px){
    .banner-img{
        margin-top: 50px;
    }
    .project-idea{
        padding:50px 0px;
    }
    .content-preview{
        margin-top: 50px;
    }
    .about-img img{
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 331px) and (min-width: 320px){
    .project-idea .promote-content h3{
        font-size: 26px;
    }
}

@media only screen and (max-width: 340px) and (min-width: 320px){
    .about-item a{
        font-size: 14px;
    }
}


/*Responsive CSS Ends Here*/



/*Responsive CSS Starts Here*/
/*

@media only screen and (max-width: 1024px) {

    .links{
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .footer-content h3{
      margin-bottom: 0;  
    }
    .footer-content {
      margin-left: 20px;
    }
    .copy-right p{
        font-size: 14px;
    }
    .banner-img img{
        margin-top: 45px;
    }
    .banner-content a button{
        margin: 0px;
    }
    .banner-content p{
        margin-bottom: 45px;
    }
    .section-padding{
        padding-top: 45px;
    }
    .banner-content h3{
        font-size: 25px;
    }
    .banner-content h1{
        margin-top: 15px;
        font-size: 25px;
    }
    ::-webkit-scrollbar{
    background:#313131;
    width: 5px;
    }
}
*/

/*Responsive CSS Ends Here*/
